
<main role="main" id="content" class="container-fluid my-5">
  <nav role="navigation" class="o-stepbar">
    <p class="float-left mt-2 mr-2 font-weight-bold d-sm-none">Step</p>
    <ol>
      <li [ngClass]="(showStep1)?'stepbar-item current':'stepbar-item '" >
        <span class="stepbar-link" disabled title="1. Recherche Offre">Recherche Offre</span>
      </li>
      <li [ngClass]="(showStep2)?'stepbar-item current':'stepbar-item '" >
        <span class="stepbar-link"  title="2. Résultat recherche" aria-current="step" >Résultat recherche</span>
      </li>
      <li [ngClass]="(showStep3)?'stepbar-item current':'stepbar-item '" >
        <span class="stepbar-link"  title="3. Résultat Matching" disabled>Résultat Matching</span>
      </li>

    </ol>
  </nav>
  <div *ngIf="showStep1" class="row mb-5">

    <div class="ml-5 mt-5">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active">Offres d'emploi</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="users" role="tabpanel" tabindex="0" aria-hidden="false" aria-labelledby="tab710087">
          <form id="search-users" name="searchUsers" method="post" action="/">
            <div class="row">


              <div class="form-group col-12 col-lg-9">
                <label class="is-required" for="intitulé">Intitulé de l'offre</label>
                <select class="custom-select" id="intitulé" name="titre" [(ngModel)]="this.offre.titre">
                  <option value="" disabled selected>Veuillez choisir l'intitulé de l'offre</option>
                  <option value="{{offre.titre}}" *ngFor="let offre of offres">{{offre.titre}}</option>
                </select>
              </div>

              <div class="form-group col-12 col-lg-9">
                <label class="is-required" for="manager">Manager</label>
                <select class="custom-select" id="manager" name="manager" (change)="setReplyTypeValue()" [(ngModel)]="this.offre.manager">
                  <option value="" disabled selected>Veuillez choisir l'intitulé de l'offre</option>
                  <option value="{{manager.id}}" *ngFor="let manager of managers">{{manager.nom}} {{manager.prenom}}</option>
                </select>
              </div>
                <div class="form-group col-12 col-lg-9" *ngIf="showEquipe">
                  <label class="is-required" for="equipe">Equipe</label>
                  <select class="custom-select" id="equipe" name="equipe"  [(ngModel)]="this.offre.equipe">
                    <option value="" disabled selected>Veuillez choisir une equipe</option>
                    <option value="{{equipe.nom}}" *ngFor="let equipe of equipes">{{equipe.nom}}</option>
                  </select>



                </div>
              <div class="form-group col-12 col-lg-6 mb-lg-0">


              </div>
              <div class="form-group col-12 col-lg-9 mb-0">
                <button type="submit" class="btn btn-lg btn-block btn-primary" (click)="recherche()">Recherche</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!--afficher les offres d'emploi-->

  <div *ngIf="showStep2" class="mt-3">
    <table id="news-table" class="table tablesorter mb-5 tablesorter-default tablesorterebe97d3cffd22" role="grid" aria-labelledby="tablesorterebe97d3cffd22caption">
      <caption id="tablesorterebe97d3cffd22caption">
        Liste des offres
      </caption>
      <thead class="cf">
      <tr role="row" class="tablesorter-headerRow">
        <th scope="col" class="header tablesorter-header " data-column="1" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Title: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Choix</span></div></th>

        <th scope="col" class="header tablesorter-header " data-column="1" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Title: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Titre</span></div></th>
        <th scope="col" class="header tablesorter-header " data-column="2" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Date: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Description</span></div></th>

        <th scope="col" class="header  " data-column="3" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-label="Category: No sort applied, activate to apply an ascending sort" style="user-select: none;"><span>Date d'ajout</span>
        <th scope="col" class="header  " data-column="6" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-label="Category: No sort applied, activate to apply an ascending sort" style="user-select: none;"><span>Etat</span>

      </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
      <tbody aria-live="polite" aria-relevant="all">

      <tr role="row" *ngFor="let offre of offresSearch">
        <td>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input" value="{{offre.id}}" [(ngModel)]="this.radioId" autocomplete="off">
            <span class="custom-control-label"></span>
          </label>
        </td>
        <td class="align-middle" ><a  (click)="openDetails(content,offre.id)" ngbPopover="Cliquez pour voir plus de détails" triggers="mouseenter:mouseleave"><strong>{{offre.titre}}</strong></a></td>
        <td class="align-middle" width="100" height="10">{{offre.description}} </td>


        <td class="align-middle">{{offre.dateAjout |  date: 'dd/MM/yyyy'}}</td>

        <td class="align-middle">

          <span *ngIf="offre.etat==='actif'" class="badge badge-lg badge-success">Active</span>
          <span *ngIf="offre.etat==='archivé'" class="badge badge-lg badge-danger">Archivée</span>  </td>


      </tr>
      </tbody>
    </table>

    <div class="row" id="ok">
      <div class="span12">
        <div class="btn-toolbar">
          <div class="btn-group">

      <button type="submit" class="btn btn-secondary mx-2" (click)="retourStep1()">Retour</button>

      <button type="submit" class="btn  btn-primary   " (click)="match()">Matching</button>
    </div>
    </div>
      </div>
    </div>
  </div>


  <div *ngIf="showStep3" class="table-responsive" id="scrollMe">
    <table id="news-tabl" class="table tablesorter mb-5 tablesorter-default tablesorterebe97d3cffd22" role="grid" aria-labelledby="tablesorterebe97d3cffd22caption">
      <caption >
        Liste des CVs
      </caption>

      <thead class="cf">
      <tr role="row" class="tablesorter-headerRow">
        <th scope="col" class="header tablesorter-header " data-column="1" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Title: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Nom & Prenom</span></div></th>

        <th scope="col" class="header  " data-column="3" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-label="Category: No sort applied, activate to apply an ascending sort" style="user-select: none;"><span>Date d'ajout</span>
        <th scope="col" class="header tablesorter-header " data-column="2" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Date: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Etat </span></div></th>
        <th scope="col" class="header tablesorter-header " data-column="2" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Date: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Domaine </span></div></th>

      </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
      <tbody aria-live="polite" aria-relevant="all">


      <tr role="row" *ngFor="let cv of CvMatching">
        <td class="align-middle" ><a   (click)="openDetailsCVs(content1,cv.id)" ngbPopover="Cliquez pour voir plus de détails" triggers="mouseenter:mouseleave"><strong>{{cv.nomPrenom}}</strong></a></td>




        <td class="align-middle">{{cv.dateAjout| date: 'dd/MM/yyyy'}}</td>
        <td>
          <!-- Example single danger button -->
          <span *ngIf="cv.etat==='En cours'" class="badge badge-lg badge-primary">{{cv.etat}}</span>
          <span *ngIf="cv.etat==='Recruté'" class="badge badge-lg badge-success">{{cv.etat}}</span>
          <span *ngIf="cv.etat==='Archivé'" class="badge badge-lg badge-danger">{{cv.etat}}</span>

        </td>
        <td>

          <span  class="badge badge-lg badge-primary">{{cv.domaine}}</span>


        </td>


      </tr>
      </tbody>
    </table>
    <div class="retour3">
    <button type="submit" class="btn btn-secondary mx-2" (click)="retourStep2()">Retour</button>
  </div>
  </div>


</main>


<!--ici le modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content border">

    <div class="modal-body">
      <h4 class="col-12 modal-title text-center" id="modal-basic-title">{{OneOffre.titre}}</h4>
      <br>
      <p><strong>Description : </strong>{{OneOffre.description}} </p>
      <p ><strong>Skills  : </strong>        <span *ngFor="let skill of OneOffre.skills ">{{skill}} , </span></p>
      <p><strong>Année d'experience : </strong>{{OneOffre.anneeExperience}}</p>
      <p><strong>Manger : </strong>{{OneOffre.manager}}</p>
      <p><strong>Equipe : </strong>{{OneOffre.equipe}}</p>


    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content border">

    <div class="modal-body" >
      <h4 class="col-12 modal-title text-center" id="modal-basic-title1">{{OneCv.nomPrenom}}</h4>
      <br>
      <p><strong>Email : </strong>{{OneCv.email}} </p>
      <p><strong>Numero Tel : </strong>{{OneCv.numTel}} </p>
      <p ><strong>Skills  : </strong>        <span *ngFor="let skill of OneCv.skills ">{{skill}} , </span></p>
      <p >  <strong>Langues  : </strong>        <span *ngFor="let langue of OneCv.langues ">{{langue}} , </span>
      </p>
      <p *ngIf="OneCv.anneeExperience !=null"><strong>Année d'experience : </strong>{{OneCv.anneeExperience}} ans</p>
      <p *ngIf="OneCv.anneeExperience ===null"><strong>Année d'experience : </strong></p>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
