<main role="main" id="content" class="container-fluid my-5">
  <div class="row mb-5">
    <div class="col col-md-6">
      <h1 id="search">Recherche</h1>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active">Offres d'emploi</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="users" role="tabpanel" tabindex="0" aria-hidden="false" aria-labelledby="tab710087">
          <form id="search-users" name="searchUsers" method="post" action="/">
            <div class="row">


              <div class="form-group col-12 col-lg-9">
                <label class="is-required" for="intitulé">Intitulé de l'offre</label>
                <select class="custom-select" id="intitulé" name="offre">
                  <option value="AF">Ingénieur Java</option>
                  <option value="OT">Développeur PHP</option>
                </select>
              </div>
              <div class="form-group col-12 col-lg-6 mb-lg-0">


              </div>
              <div class="form-group col-12 col-lg-9 mb-0">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Recherche</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col col-md-6 pl-lg-5">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Détails offre</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Ingénieur Java</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="description">m dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsuipsum dolar lorum ipsum dolar lorum ipsum dolar lorum ipsu dolar lorum ipsum dolar lorum ipsulorum ipsum dolar lorum ipsum dolar lom ipsum dolar lorum ipsulorum ipsum dolar lorum ipsum dolar lom ipsum dolar lorum ipsulorum ipsum dolar lorum ipsum dolar lom ipsum dolar lorum ipsulorum ipsum dolar lorum ipsum dolar lom ipsum dolar lorum ipsulorum ipsum dolar lorum ipsum dolar lorum ipsum dolar</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Match CVs</button>
        </div>
      </div>
    </div>
  </div>

  <h1 id="sysInfo">Matching des CVs</h1>
  <br>
  <br>
  <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
             <th>Rang</th>
            <th>Nom et Prenom</th>

            <th>Email</th>
            <th>Skills</th>
            <th>Langues</th>
            <th>Date d'ajout </th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td> #1</td>
            <td>Ihebeddine Ben Fraj</td>
            <td>Email</td>
            <td>Skills</td>
            <td>Langues</td>
            <td>5 nov 2019</td>


          </tr>

          </tbody>
        </table>
      </div>
    </div>
  <!-- fin de la row globale-->
</main>
