#sysInfo {
  text-align: center;
}

#content
{
  padding-top: 50px;
}
.description{


  height:60px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;

}
table {
  table-layout:fixed;
}
td {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
#sysInfo {
  text-align: center;
}

#content
{
  padding-top: 50px;
}
.description{


  height:60px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;

}

#ok
{
  display: flex;

justify-content: center}

.retour3
{
  display: flex;

  justify-content: center}
