<div class="login">
  <form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="/../assets/images/sofrecom_logo.png" alt="" width="250" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    </div>
    <div class="row ">
    <div class="col-md-6 mb-3">
      <div class="form-label-group">
      <input type="text" class="form-control" id="firstName" placeholder=" Nom" value="" required>
      <label for="firstName">Nom</label>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>
    </div>
    <div class="col-md-6 mb">
      <div class="form-label-group">
      <input type="text" class="form-control" id="lastName" placeholder="Prénom" value="" required>
      <label for="lastName">Prénom</label>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
    </div>
    </div>

    <div class="form-label-group">
      <input type="date" id="datenaissance" class="form-control" placeholder="Date de naissance" required autofocus>
      <label for="datenaissance">Date de naissance</label>
    </div>
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus>
      <label for="inputEmail">Adresse Email</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <label for="inputPassword">Mot de passe</label>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Inscription</button>
  </form>
</div>



