

.bg-green {
  background-color: rgb(193,216,48);

}

.bg-blue {
  background-color: rgb(135,206,250);
}

.bg-yellow {
  background-color: rgb(251, 255, 44);
}
.bg-orange{
  background-color:rgb(242,112,28)
}

