<div class="login">
<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="/../assets/images/sofrecom_logo.png" alt="" width="250" height="150">
    <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>
  <p>Vous n'avez pas encore de compte ?<a routerLink="/inscription"> Créez-en un.</a></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
</div>
